.basicButton {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

/* #1. */
.BasicCss-btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

/* #2. */
.BasicCss__title--red {
  color: red;
}

/* #3. */
.BasicCss header {
  background-color: lightseagreen;
}

.BasicCss h1 {
  color: wheat;
}
