.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  align-items: center;
}
.title {
  font-size: 30px;
  font-weight: 700;
}
.text {
  margin-top: 5px;
  font-size: 15px;
}
.user_list {
  margin-top: 5px;
  background-color: rgb(241, 237, 237);
  width: 600px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.select {
  padding-left: 10px;
  margin-top: 10px;
  width: 650px;
  height: 30px;
}
.button_wrap {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.small_btn {
  border: none;
  font-size: 8px;
  width: 80px;
  height: 20px;
  margin-left: 10px;
}
.vac_list {
  margin-top: 10px;
  // width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vac_content {
  padding: 12px;
  width: 260px;
  height: 200px;
  background-color: rgb(241, 237, 237);
  margin-right: 20px;
  margin-bottom: 20px;
}
.vac_content:nth-child(4n) {
  margin: 0;
}
.title_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vac_title_block {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.vac_title {
  font-size: 15px;
  font-weight: 700;
}
.vir_title {
  font-size: 12px;
}
.info {
  width: 50px;
  border: none;
  font-size: 10px;
  background-color: rgb(214, 213, 213);
}
.vac_table {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.table_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
  height: 90px;
}
.table_a {
  text-align: center;
}
.table_col_title {
  font-size: 12px;
  padding-top: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.enter_btn {
  background-color: rgb(214, 213, 213);
  width: 40px;
  border: none;
}
