.container {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: burlywood;
}

.box {
    width: 100px;
    height: 100px;
    /* position: absolute; */
}

.Item1 {
    background-color: aqua;
    z-index: 5;
}

.Item2 {
    top: 30px;
    left: 30px;
    z-index: 1;
    background-color: antiquewhite;
}

.Item3 {
    top: 60px;
    left: 60px;
    z-index: 3;
    background-color: blueviolet;
}