/* 
    * : 전체 선택자
*/
/* * {
  color: red;
} */
/* 
    태그명 : 태그 선택자
*/
h1 {
    background-color: pink;
  }
  
  /* p {
    background-color: violet;
  } */
  
  /* 
      .클래스명 : 클래스 선택자
  */
  .second {
    background-color: aqua;
  }
  
  .small {
    font-size: 20px;
  }
  
  .big {
    font-size: 40px;
  }
  
  .dog {
    color: blue;
  }
  
  /* 
      #아이디명 : 아이디 선택자
  */
  #first {
    background-color: lightgreen;
  }
  
  /* 
      id, class 차이.
      - class : 그룹
      - id : 고유
  */
  .hello {
    color: green;
  }
  
  .hi {
    color: blue;
  }
  
  #my-hello {
    color: red;
  }
  
  #one {
    color: blueviolet;
  }