.d-inline1 {
    display: inline;
    background-color: lightblue;
  }
  
  .d-inline2 {
    display: inline;
    background-color: lightcoral;
  }
  
  .d-block1 {
    display: block;
    background-color: lightblue;
  }
  
  .d-block2 {
    display: block;
    background-color: lightcoral;
    /* width: 200px;
    height: 200px; */
  }
  
  .d-inline-block1 {
    display: inline-block;
    background-color: blue;
  }
  
  .d-inline-block2 {
    display: inline-block;
    color: white;
    background-color: red;
    width: calc(300px - 100px); /* = 200px */
    height: 200px;
    text-align: center;
    line-height: 200px;
  }