div {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border: 1px solid black;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.div1:hover{
    transform: translateX(50px) scaleX(2);
}

.div2:hover{
    transform: translateX(50px) skewX(-45deg);
}

.div3:hover{
    transform: translateX(300px) rotate(45deg);
    border-radius: 50%;
    background-color: red;
}

.div4:hover{
    transform: translateY(50px) scale(2) rotateY(180deg);
    background-color: yellow;
}